*~
.DS_Store

# Xcode
*/build/*
*.pbxuser
!default.pbxuser
xcuserdata
project.xcworkspace
*.xccheckout
*.xctimeline
*.xcscmblueprint

# AppCode
.idea

# Pods
Pods/*

# Temp files and such
*.swp
*.out
*.dot

# Test reports
test-reports

# Artifacts
*.ipa

# Configuration file, ignored only for the purpose of the workshop
GoogleService-Info.plist
